{% extends "registration/header_sidebar.html" %}
{% load static %}

{% block content %}

<div class="page-header"><p class="title">Create Bug</p></div>
<div class="row">
    <div class="col-md-12" id="table-row">
        {{ bug_form.non_field_errors }}
        <form method="POST" class="form-horizontal" enctype="multipart/form-data"> {% csrf_token %}
            <input type="hidden" id="csrf" value="{%csrf_token%}">

            <div class="form-group required">
                <label for="project_name" class="control-label col-sm-2 col-sm-offset-2">Project Name:</label>
                <div class="col-sm-4">
                    <select id="project_name" name="project_name" class="selectpicker form-control" required="required">
                        {% for pt in project_name %}

                        <option value={{pt.product_id}}>{{pt.product}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group required">
              
                <label for="title" class="control-label col-sm-2 col-sm-offset-2">Bug Title:</label>
                <div class="col-sm-4">
                    <input id="title" type="text" class="form-control" name="title" placeholder="Enter bug title"autofocus="autofocus">
                </div>
            </div>

            <div class="form-group required">
                <label for="bug_type" class="control-label col-sm-2 col-sm-offset-2">Bug Type:</label>
                <div class="col-sm-4">
                    <select id="bug_type" name="bug_type" class="selectpicker form-control">
                        {% for pt in bug_type %}

                        <option value={{pt.id}}>{{pt.bug_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group required">
                <label for="status" class="control-label col-sm-2 col-sm-offset-2">Bug Status:</label>
                <div class="col-sm-4">
                    <select id="status" name="status" class="selectpicker form-control">
                        {% for pt in status %}

                        <option value={{pt.id}}>{{pt.status_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>                                

            <div class="form-group">
                
                <label for="build_version" class="control-label col-sm-2 col-sm-offset-2">Build Version:</label>
                <div class="col-sm-4">
                    <input id="build_version" type="text" class="form-control" name="build_version" placeholder="Enter build Version" autofocus="autofocus">
                </div>
            </div>

            <div class="form-group">
                
                <label for="sprint_no" class="control-label col-sm-2 col-sm-offset-2">Sprint No:</label>
                <div class="col-sm-4">
                    <input id="sprint_no" type="text" class="form-control" name="sprint_no" placeholder="Enter build Version" autofocus="autofocus">
                </div>
            </div>


            <div class="form-group">
               
                <label for="sprint_no" class="control-label col-sm-2 col-sm-offset-2">Dependent Module:</label>
                <div class="col-sm-4">
                    <input id="dependent_module" type="text" class="form-control" name="dependent_module" placeholder="Dependent Module" autofocus="autofocus" disabled="disabled">
                </div>
            </div>


            <div class="form-group " id="description">
                <label for="description" class="control-label col-sm-2 col-sm-offset-2">Bug Description:</label>
                <div class="col-sm-4">
                    <textarea class="form-control" cols="40" id="description" name="description" rows="3" placeholder="Enter Bug Description"></textarea>
                </div>
            </div>

            <div class="form-group required" id="nameofprodtype">
                <label for="bug_owner" class="control-label col-sm-2 col-sm-offset-2">Owner:</label>
                <div class="col-sm-4">
                    <select id="bug_owner" name="bug_owner" class="selectpicker form-control">
                        {% if user.is_authenticated %}
                        {% for pt in bug_owner %}
                        <option value="{{pt.id}}" {% if pt.username == user.username %}selected{% endif %}>{{pt.username}}</option>
                        {% endfor %}

                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="form-group required" id="nameofprodtype">
                <label for="prodType" class="control-label col-sm-2 col-sm-offset-2">Assigned To:</label>
                <div class="col-sm-4">
                    <select id="bug_assigned_to" name="bug_assigned_to" class="selectpicker form-control">
                        {% if user.is_authenticated %}
                        {% for pt in bug_assign %}
                        <option value="{{pt.id}}">{{pt.username}}</option>
                        {% endfor %}

                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="form-group" id="nameoffile">
                <label for="bug_file" class="control-label col-sm-2 col-sm-offset-2">Upload File:</label>
                <div class="col-sm-4">
                    <input id="bug_file" name="bug_file" type="file" class="file">
                </div>
            </div>


            <div class="form-group" id="nameofbuton">
                <div class="controls">
                    <a class="btn btn-sm btn-primary col-sm-offset-6" type="button" href="/website_home/" id="cancel-button"> <strong>Cancel </strong> </a>
                    <button class="btn btn-sm btn-primary" type="submit" id="myWish"> <strong>Create</strong> </button>
                </div>
            </div>

        </form>

    </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'bms_app/css/create_bug.css' %}">
{% endblock %}