{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'bms_app/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bms_app/css/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"> {% block cssfile %} {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="fa fa-bars" aria-hidden="true"></span></a>
                <a class="navbar-brand" href="/" id="logo-tag">YBTS</a>
            </div>

            <div id="navbar" class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="dropdown create-dropdown hidden-xs">
                            <button class="btn btn-primary dropdown-toggle" id="header-create-btn" type="button" data-toggle="dropdown">Create
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="/create_project">Create project</a></li>
                                    <li><a href="/create_bug">Create Bug</a></li>
                                </ul>
                            </div>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-user"></i> {{user.username}} <strong class="caret down-caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <form role="search" class="navbar-left app-search pull-right">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href=""><i class="fa fa-search"></i></a>
                    </form>
                </div>

            </nav>
        </header>
        <div id="wrapper" class="">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="active">
                        <a href="/website_home"><i class="fa fa-fw fa-dashboard side-fa"></i> Dashboard</a>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-folder-open-o side-fa"></i> Project <i class="fa fa-fw fa-caret-right pull-right side-fa"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="/create_project"><i class="fa fa-fw fa-plus-circle side-fa"></i>Create Project</a>
                            </li>
                            <li>
                                <a href="/project_list"><i class="fa fa-fw fa-list side-fa side-fa"></i>Project List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-bug side-fa"></i> Bug <i class="fa fa-fw fa-caret-right pull-right side-fa"></i></a>
                        <ul id="demo1" class="collapse">
                            <li>
                                <a href="/create_bug"><i class="fa fa-fw fa-plus-circle side-fa"></i>Create Bug</a>
                            </li>
                            <li>
                                <a href="/bug_list"><i class="fa fa-fw fa-eye side-fa"></i>Bug View</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="page-content-wrapper">
                <div class="container-fluid">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'bms_app/js/sidebar.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
        {% block jsfile %} {% endblock%}
    </body>

    </html>
