{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta itemprop="name" content="Bootstrap Rounded Buttons Example">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bms_app/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bms_app/css/land_header_footer.css' %}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	<div id="wrap">
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="head-logo">
					<a href="/">
						<img src="/static/bms_app/images/logo1.png" class="img-responsive center-block" id="header-logo"> 
					</a>
					</div>
				</div>
				<div class="collapse navbar-collapse" id="header-navbar">
					<ul class="nav navbar-nav pull-right">
						<li class="active"><a href="/" id="head-menu">HOME</a></li>
						<li><a href="/services" id="head-menu" class="nav-link">SERVICES</a></li>
						<li><a href="/about" id="head-menu" class="nav-link">ABOUT</a></li>
						<li><a href="/contact" id="head-menu" class="nav-link">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="center-content">  
		<div class="container"> 
			{% block content %}
            
            {% endblock %}
		</div>
		</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
				<li><a href="#">Languages</a></li>
				<li><a href="/privacy">Privacy Policy</a></li>
				<li><a href="/terms_use">Terms of use</a></li>
				<li><a href="#">Copyright@2017 Cuelogic</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
			<div class="social">
				<ul>
					<li><a href="https://www.facebook.com/ybts.ybts.9"><i class="fa fa-lg fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/YBTS_Tool"><i class="fa fa-lg fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-lg fa-youtube-play"></i></a></li>
				</ul>
			</div>
      </ul>
    </div>
  </div>
</nav>

	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'bms_app/bootstrap/js/bootstrap.min.js' %}"></script>
</html>
