{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bms_app/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bms_app/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bms_app/css/common_login_layout.css' %}">
</head>
<style>

</style>

<body>  
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <div id="logout-box" class="mainbox col-md-6 col-md-offset-3">                    
            <div class="panel panel-info" >

                <div class="panel-heading">
                    <div class="panel-title">Bug Management System</div>
                </div>   
 
                <div class="panel-body" >
                    <form id="loginform" class="form-horizontal" role="form">

                    	<h3 id="logcenter">You Have Been Logged Out</h3>
                    	<p id="logcenter">Thank you for using our website</p>

                        <div class="form-group">
                            <div class="alreadymember"  >
                                Please 
                                <a href="/login" onClick="$('/login')">
                                   Click Here
                                </a> to login back to our site.
                            </div>
                        </div>   
                        
                    </form>     
                </div>                     
            </div>  
        </div>
    </form>
    {% endblock %}
</body>

</html>
