{% extends "registration/common_login_reg.html" %} 
{% load static %} 
{% block cssfile %}
<link rel="stylesheet" type="text/css" href="{% static 'bms_app/css/common_login_layout.css' %}"> {% endblock %} {% block content %} {% for message in messages %}
<div id="message"></div>
{% endfor %} {% if form.errors %}
<div class="alert alert-danger" role="alert">
    <strong>Your username and password didn't match. Please try again.</strong>
</div>
{% endif %}
<form method="POST" class="container">
    {% csrf_token %}
    <div class="row">
        <div id="loginbox" class="mainbox col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">LOG IN</div>
                </div>
                <div class="panel-body">
                    <form id="loginform" class="form-horizontal" role="form">
                        <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username" placeholder="Your username" required="" autofocus="">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="Your password" required="">
                        </div>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-md btn-primary btn-block" type="submit"><strong>LOGIN</strong></button>
                        </div>
                        <div class="form-group">
                            <div class="alreadymember">
                                Not a member yet ?
                                <a href="/register" onClick="$('/register')">
                                Sign Up Here
                            </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}] {% block jsfile %}
<script type="text/javascript" src="{% static 'bms_app/js/notify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bms_app/js/login.js' %}"></script>
{% endblock%}
