{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bms_app/bootstrap/css/bootstrap.min.css' %}">
</head>
<style>
    body{
        background-image:url({% static 'bms_app/images/templates.jpg' %});
        background-size:cover;
    }
    .panel-title{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
</style>
<body>  
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <div id="loginbox" style="margin-top:100px; align-content: center;" class="mainbox col-md-4 col-md-offset-4 row vertical-center-row">                    
            <div class="panel panel-info" >

                <div class="panel-heading">
                    <div class="panel-title">LOG IN</div>
                </div>   
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} ">{{ message }}</div>
                {% endfor %}
 
                <div style="padding-top:30px" class="panel-body" >
                    <form id="loginform" class="form-horizontal" role="form">

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username" placeholder="Your username" required="" autofocus="" >                                        
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="Your password" required="">
                        </div>

<!--                         <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                </label>
                            </div>
                        </div> -->

                        <div style="margin-top:10px" class="form-group">
                            <div class="col-sm-12 controls">
                                <button class="btn btn-md btn-primary btn-block" type="submit"><strong>LOGIN</strong></button> 
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 control" style="padding: 20px;">
                                <div style="border-top: 1px solid#888; padding-top:20px; font-size:15px;" >
                                    Not a member yet ? 
                                    <a href="/register" onClick="$('/register')">
                                        Sign Up Here
                                    </a>
                                </div>
                            </div>
                        </div>   
                        
                    </form>     
                </div>                     
            </div>  
        </div>
    </form>
    {% endblock %}
</body>
</html>
