{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'bms_app/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bms_app/css/prod_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bms_app/bootstrap/css/bootstrap-imageupload.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bms_app/bootstrap/css/bootstrap-imageupload.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                <a class="navbar-brand" href="/" id="logo-tag">YBTS</a>
                <a class="navbar-brand" href="#" id="navbrand">Project List</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" action="#">
                        <div class="input-group">
                            <input class="form-control" placeholder="Search..." id="query" name="search" value="" type="text">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>
                    <li class="navbar-left"><a href="/website_home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>                   
                    <li class="dropdown">
                        {% if user.is_authenticated %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            <strong>{{ user.username }}</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                <span class="glyphicon glyphicon-user icon-size"></span>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"><strong>{{ user.username }}</strong></p>
                                            <p class="text-left small">{{ user.email }}</p>
                                            <p class="text-left">
                                                <a href="#" class="btn btn-primary btn-block btn-sm">Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider navbar-login-session-bg"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cog pull-right"></span>Account Settings </a></li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-stats pull-right"></span>User stats</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out pull-right"></span>Log Out </a></li>
                        </ul>
                        {% endif %}
                    </li>
                </div>
            </div>
        </nav>
        <div id="wrapper" class="toggled">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <br>
                    </li>
                    <li>
                        <a href="/website_home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <font color="#337AB7"> Project</font>
                    </li>
                    <li>
                        <a href="/create_product"><span class="glyphicon glyphicon-tasks" aria-hidden="true" id="sidebar-link"></span> Create Project</a>
                    </li>
                    <li>
                        <a href="/product_list"><span class="glyphicon glyphicon-stats" aria-hidden="true" id="sidebar-link"></span>Project List</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <font color="#337AB7"> Bug</font>
                    </li>
                    <li>
                        <a href="/create_bug"><span class="glyphicon glyphicon-user" aria-hidden="true" id="sidebar-link"></span> Create Bug</a>
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true" id="sidebar-link"></span> Update Bug</a>
                    </li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <br>
                <div class="container-fluid">
                    <div class="col-md-12" id="table-row">
                        <div class="table-responsive">
                            {% if user_list %}
                            <table id="mytable" class="table table-bordered table-striped">
                                <thead>
                                    <th> Sr. No </th>
                                    <th data-filter-control="input" data-sortable="true">Project Id</th>
                                    <th>Project Name</th>
                                    <th>Project Version</th>
                                    <th>Access Type</th>
                                    <th>Bug Count</th>
                                    <th>Open Bugs</th>
                                    <th>Action</th>

                                </thead>
                                <tbody>

                                    {% for item in user_list %}

                                    <tr>
                                        <td> </td>
                                        <td>{{ item.product_id }}</td>
                                        <td>{{ item.prod_name }}</td>
                                        <td>{{item.prod_version}}</td>
                                        <td>{{ item.role }}</td>
                                        <td>{{ item.bugcount }}</td>
                                        <td>{{ item.openbug }}</td>
                                        <td>

                                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" data-row-id="1166"><span class="glyphicon glyphicon-pencil"></span></button>

                                            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" id="{{ item.id }}" data-row-id="1166"> <span class="glyphicon glyphicon-trash"></span></button>

                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            {% else %}
                            <div class="alert alert-info">
                                Records Not Found.
                            </div>
                            {% endif %}
                            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                            <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input class="form-control " type="text" placeholder="Mohsin">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control " type="text" placeholder="Irshad">
                                            </div>
                                            <div class="form-group">
                                                <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer ">
                                            <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                            <h4 class="modal-title custom_align" id="Heading">Delete this entry {{ item.id }}</h4>
                                        </div>
                                        {{ item.prod_name }}
                                        <div class="modal-body">
                                            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
                                        </div>
                                        <div class="modal-footer" id="{{ item.id }}">
                                            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if user_list %}        
                            <div class="clearfix"></div>
                            <ul class="pagination pull-right">
                                <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 footer">
                <ul class="list-inline"><li><a href="">Footer</a></li></ul>
            </div>
        </div>

    </body>
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'bms_app/js/style.js' %}"></script>
<script type="text/javascript" src="{% static 'bms_app/js/create_prod.js' %}"></script>
<script type="text/javascript" src="{% static 'bms_app/js/prod_list.js' %}"></script>

</html>
