{% extends "registration/header_sidebar.html" %}
{% block title %}Project List{% endblock %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" type="text/css" href="{% static 'bms_app/css/project_list.css' %}">
{% endblock %}

{% block content %}

<div class="row project-list-row">

    <div class="col-md-4 filter-column">
        <div class="page-header filter-title">
            <h3 class="">Filter</small>
            </h3>
        </div> 
        <form method="get" action="" id="frmprojectlist">
            <div class="">
                <select id="producttype" name="producttype" class="selectpicker form-control placeholder" required="required">
                    <option value="" disabled>Select Project Type</option>
                    {% for pt in prod_types %}
                    <option value="{{pt.id}}">{{pt.project_type_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </form> 
    </div>
    <div class="col-md-8">
        <div class="page-header project-header">
            <h3 class="">Project List</small>
                <div class="pull-right">
                    <a class="btn create-project-button" type="button" href="/create_project/">Create New Project</a>

                </div>
            </h3>
        </div> 
        {% if user_list %}
        {% for item in user_list %}
        <div class="card-box">
            <div class="icon-box text-center">
                <div class="bg-icon bg-icon-pink">
                {% if typeid == '1' %}
                    <i class="fa fa-globe " id="type-icon"></i>
                
                {% elif typeid == '3' %}
                <i class="fa fa-desktop" id="type-icon"></i>

                {% elif typeid == '4' %}
                <i class="fa fa-database" id="type-icon"></i>

                {% elif typeid == '5' %}
                <i class="fa fa-cloud" id="type-icon"></i>

                {% elif typeid == '2' %}
                <i class="fa fa-mobile" id="type-icon"></i>
                {%endif%}
                
                </div>
            </div>
            <div class="count-box">
                <h3 class="project-name">{{ item.prod_name }}</h3>
                <p class="text-muted">{{ item.prod_description }}</p>
            </div>
            <div class="file-box">
                <p class="user-count">Bug Count - <strong>{{ item.bugcount }}</strong></p>
                <p class="text-muted"><i class="fa fa-file-pdf-o file-icon"></i>File Name / File Path</p>
            </div>
        </div>
          {% endfor %}
        {% else %}
        <div class="alert alert-info">
            Records Not Found. Please select project type.
        </div>
        {% endif %}

</div>

{% endblock %}

{% block jsfile %}
<script type="text/javascript" src="{% static 'bms_app/js/prod_list.js' %}"></script>
<script type="text/javascript" src="{% static 'bms_app/js/project_list.js' %}"></script>
{% endblock %}