.bug-list{
  margin-bottom: 10px;
}

.bug-list-background{
  padding: 5px;
}

input[type="submit"]{

  padding: 5px 0px;
  font-weight: bold;
}

.insert-text-in-comment{
  position: relative;
}

.insert-text-in-comment .loading{
  position: absolute;
  bottom: -25px;
  display: none;
}

.insert-text-in-comment .total-comment{
  position: absolute;
  bottom: -25px;
  right: 0px;
}

.insert-text-in-comment .total-comment:before{
  content: "Total comment: ";
  font-weight: bold;
}

.comment-list > div{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.comment-list > div:last-child{
  border-bottom: none;
}

.comment-editor{
  border: 1px solid #ccc;
  border-radius: 5px;
}
.comment-text:focus{
  background: #fff;
}

.comment-list{ 
  border-radius: 5px;
  height: 250px;
  overflow-y: auto;
  background: #fff;
}

.total-comment{
  margin-right: 10px;
}
.project-list{
  padding-top: 20px;
}

.alert-message{
  margin-top: 60px;
}

.form-group{
  margin-bottom: 5px;
}

.page-header{
  margin-top: 0px;
}
.comments{
  margin-bottom: 20px;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-group {
  margin-bottom: 0px;
}
#nameofbuton{
  text-align: center;
}

#username{
  display: none;
}
.comment {
  color: #080808;
  background: #b2b2b2;
  font-size: 12px;
  font-weight: bold;
}

.col-md-10 {
  display: inline-block;
  vertical-align: middle;
}

.bug-list-row{
  margin-top: 20px;
}

.pagination{
  margin: 0px;
}

.pagination>li>a, .pagination>li>span {
  padding: 0px 5px; 
  margin-left: -1px; 
  line-height: 1.42857143; 
  color: #337ab7;
  text-decoration: none; 
  background-color: #f5f5f5; 
  border: 0px solid #ddd; 
}

.list-group > ul > li{
  margin-top: 10px;
}

fieldset 
{
  border: 1px solid #ddd !important;
  margin: 0;
  xmin-width: 0;
  padding: 10px;       
  position: relative;
  border-radius:4px;
  background-color:#f5f5f5;
  padding-left:10px!important;
} 

legend
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px; 
  width: 35%; 
  border: 1px solid #ddd;
  border-radius: 4px; 
  padding: 5px 5px 5px 10px; 
  background-color: #ffffff;
}

.panel{
  margin-bottom: 0px;
}
.panel-body {
  padding: 0px; 
}

.project-dropdown{
  padding-top: 20px;
}
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

@media (max-width: 768px) {
    .project-dropdown{
        padding-top: 50px;  
    }

}

