body{
  background-image:url('/static/bms_app/images/templates.jpg');
  background-attachment:fixed;
  background-size:cover;
}

.panel-title{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.panel-body{
  padding: 20px 40px 0 40px;
}

#loginbox{
  position: relative;
  top: calc(50vh - 185px);
}

#register-box{
  position: relative;
  top: calc(50vh - 220px);
}

#logout-box{
  position: relative;
  top: calc(50vh - 143px);
}

.sign-up-here{
  padding: 20px;
}

.alreadymember{
  border-top: 1px solid#888;
  padding-top:20px; 
  font-size:15px;
  text-align: center;
}

#logcenter{
  text-align: center;
}
