.placeholder{
	color: gray;
}
select option:first-child{
	color: gray;
}
select option{
	color: #555;
}

#create-button{
	margin-right: 30px;
}

.page-header{
	margin-left: 15px;
}
.bug-row{
	padding-top: 20px;
}
.page-header{
	margin-top: 0px;
}

@media (max-width: 767px){
	#create-bug-form{
		padding-right: 20px;
		padding-left: 20px;
	}
}
