
.createprod
{
    padding-left: 100px;
}
#navbrand
{
    padding-left: 200px;
}
#cancelbuton
{
    margin-right: 20px;
}

#fileForm
{
    padding-top: 60px;
}

.form-group
{
    padding-bottom: 7px;
}

#sidebarlink
{
	margin-right: 8px;
}
