
.user-box{
	margin-bottom: -15px;
}
.page-header{
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
}
.project-row{
	padding-top: 20px;
}
.panel-body {
	padding: 10px 10px 0;
}
.panel{
	margin-bottom: 15px;
	color: #333;
}

.modal-body {
	height: 170px;
	overflow-y: auto;
}

.form-inline > div{
	padding-bottom: 15px;
}

#add-user-plus-button{
	margin-bottom: 0px;
}

.modal-title{
	margin-left: 30px;
}

.remove{
	margin-right: 10px;
	vertical-align: top;
}

.glyphicon-remove{
	font-size: 14px;
}


#submit-sample-data{
	float: right;
}

#get_username{
	display: none;
}

.selected-user-name{
	padding-left: 10px;
	width: 120px;
	max-width: 120px;
	display: inline-block;
	vertical-align: top;
	word-wrap: break-word;
}

.selected-user-role{
	word-wrap: break-word;
}

#dash{
	padding-right: 10px;
	text-align: center;
}

#user-count{
	background-color: #D0D0D0;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 5px 0;
}

#submit-data{
	margin-right: 15px;
}

@media (max-width: 767px){
	#user-role{
		margin: 15px 0px 15px 0px;
	}

	.remove{
		margin-right: 10px;
		vertical-align: top;
	}
	.project-row{
		padding-top: 40px;
	}
}


@media all and (orientation:landscape) { 

	.selected-user-name{
		padding-left: 10px;
		width: 250px;
		max-width: 250px;
		display: inline-block;
		vertical-align: top;
		word-wrap: break-word;
	}

}

@media screen and (min-width: 1200px) {
	.selected-user-name{
		padding-left: 10px;
		width: 170px;
		max-width: 170px;
		display: inline-block;
		vertical-align: top;
		word-wrap: break-word;
	}
}

@media only screen and (min-device-width: 320px){
	.selected-user-name{
		padding-left: 10px;
		display: inline-block;
		vertical-align: top;
		word-wrap: break-word;
	}
}

@media (max-width: 767px){

	#nameofbuton{
		text-align: center;
	}

}