.create-project-title{
    padding-left: 100px;
}
#navbrand{
    padding-left: 200px;
}
#cancel-button{
    margin-right: 20px;
}

#sidebar-link{
	margin-right: 8px;
}

#user-display-box{
	height: 10px;
	width: 10px;
	border: 1px solid black;
}
.title{ 
	color:black; 
	font-size:22px; 
	font-weight: bold;
}

.page-header{
	padding-top: 5px;
	margin: 0px;
}
.alert{
	margin: -10px;
}

.user-box{
	margin-bottom: -15px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}
.page-header{
	padding-top: 30px;
}