.center-content{
    position: relative;
    background: url(/static/bms_app/images/macbook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.trans {
    padding: 15px;
    height: calc(100vh - 100px);
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}

#logo {
    padding-top: 20px;
    height: 100px;
    width: 100px;
}

.para1 {
    padding-top: 20px;
}

.para1>p {
    margin: 0px;
    text-align: center;
    font-size: 17px;
}

.para2 {
    padding-top: 20px;
}

.para2>p {
    margin: 0px;
    text-align: center;
    font-size: 17px;
}

.para3 {
    padding-top: 20px;
}

.para3>p {
    margin: 0px;
    text-align: center;
    font-size: 17px;
}

.land-button {
    padding-top: 30px;
    text-align: center;
}

#login-button {
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    margin-right: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
}

#register-button {

    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
}

#header-logo {
    height: 40px;
}

.head-logo {
    padding-top: 5px;
}

#head-menu {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}
.leftside{
    position: absolute;
    bottom: 30px;
    left: 0;
}

@media(max-width:767px) {
.leftside{
    position: static;
    bottom: 30px;
    left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
#wrap > .center-content {
    padding: 50px 0;
}
.trans {
    height: auto;
}
#login-button {
    margin: 0 0 10px;
}

}


@media(max-width:1280) {
.trans {
    padding: 15px;
    height: calc(100vh - 100px);
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}

}
