body, html{
    height: 100%;    
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    position: fixed;
    left: 220px;
    z-index: 1000;
    overflow-y: auto;
    margin-left: -220px;
    width: 0;
    height: 100%;
    background: #293044;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}
    
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}    
.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 220px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
}

.sidebar-nav li ul{
  list-style-type: none;

}

.sidebar-nav li a {
    display: block;
    color: #f5f5f5;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 220px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 220px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
        #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    #wrapper.toggled {
        padding-left: 0;
        width: 0px;
    }
    #sidebar-wrapper {
        width: 220px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
}

.navbar-brand {
    font-weight: bold;
}

.form-group.required .control-label:after {
  content:"*";
  color:#FF0000;
}

.navbar-inverse{
    color: #fff;
}

@media (max-width: 767px)
{
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #fff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
}

.project-dropdown {
    padding-top: 60px;
    text-align: center;
}

#logo-tag{
    margin-left: 20px;
}

.fa{
    margin-right: 10px;
    margin-left: 10px;
}

.navbar{
    background-color: #fff;
}

#header-create-btn{
    background-color: #5093e1;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
}
.navbar-form > .form-group{
    display: inline;
}

.navbar-form > .form-group > .input-group{
    display: table;
    padding-right: 40px;
    padding-left: 25px
}
header{
    min-height: 51px; 
    box-shadow: 5px 0px 5px #bdbdbd;
}

.create-dropdown{
    padding-right: 15px;
}