body{
	background-image:url(/static/bms_app/images/templates.jpg);
	background-attachment:fixed;
    background-size:cover;
}

.panel-title{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

#loginbox{
  position: relative;
  top: calc(50vh - 185px);
}

.panel-body{
	padding:30px 30px 0 30px;
}

.input-group{
	margin-bottom: 25px;
}

.form-group{
	margin-top:10px;
}

.not-a-member-label{
	border-top: 1px solid#888;
	padding-top:20px; 
	font-size:15px;
}

.sign-up-here{
	padding: 20px;
}
