body{
	background-image:url(/static/bms_app/images/templates.jpg);
	background-attachment:fixed;
    background-size:cover;
    overflow-y: hidden;
}
.panel-title{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
#loginbox{
position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: table;
}
.panel-body{
	padding:30px 50px 0 50px;
}
.input-group{
	margin-bottom: 25px;
}
.form-group{
	margin-top:10px;
}
.not-a-member-label{
	border-top: 1px solid#888;
	padding-top:20px; 
	font-size:15px;
}

.sign-up-here{
	padding: 20px;
}
