body{
    background-image:url('/static/bms_app/images/templates.jpg');
    background-size:cover;
}
.panel-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#logcenter{
    text-align: center;
}
#loginbox{
    margin-top:70px; 
    align-content: center;
}
.col-md-12{
    padding: 30px;
}
.logout_logn{
    border-top: 1px solid#888;  
    padding-top:30px; 
    font-size:15px;"
}
.panel-body{
    padding-top:10px;
}
