body{
    background-image:url('/static/bms_app/images/templates.jpg');
    background-attachment:fixed;
    background-size:cover;
    overflow-y: hidden;
}
.panel-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#logcenter{
    text-align: center;
}

.col-md-12{
    padding: 30px;
}
.logout_logn{
    border-top: 1px solid#888;  
    padding-top:30px; 
    font-size:15px;"
}
.panel-body{
    padding-top:10px;
}


#loginbox{
  position: relative;
  top: calc(50vh - 143px);
}


