.form-inline {
    padding-bottom: 5px;
}

.table>tbody>tr>td {
    text-align: center;
    vertical-align: middle;
}

.table>thead>tr>th {
    text-align: center;
}

.table>thead {
    background-color: #101010;
    color: white;
}

.pagination {
    margin: 0px;
}

tr td:first-child:before{
  counter-increment: Serial;    
  content:counter(Serial); 
}

.table-responsive{
    padding-top: 10px;
}
