body{
    background-image:url('/static/bms_app/images/templates.jpg');
    background-attachment:fixed;
    background-size:cover;
}

.panel-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#loginbox{
  position: relative;
  top: calc(50vh - 220px);
}

.panel-body{

    padding: 10px 50px 0px 50px;
}

.input-group{
    margin-bottom: 10px;
}

.form-group{
    margin-top:15px;
}

.inputgroup{

    padding: 0px 30px 0px 30px;}

.alreadymember{
    border-top: 1px solid#888;
    padding-top:20px; 
    font-size:15px;
}
