{% extends "registration/landing_header_footer.html" %}
{% load static %}

{% block content %}

<div id="wrap">
	<div class="leftside col-md-6">
		<img src="/static/bms_app/images/laptop.png" class="img-responsive" id="laptop" width="704" height="400"> 
	</div>
	<div class="col-md-4 col-md-offset-1">
		<div class="trans">
			<img src="/static/bms_app/images/logo.png" class="img-responsive center-block" id="logo"> 
			<div class="para1">
				<p>YBTS is an ideal solution to track bugs</p>
				<p>of project, solution or an application.</p>
			</div>
			<div class="para2">
				<p>YBTS allows individual or group of</p>
				<p>developers to keep track of outstanding</p>
				<p>bugs in their project effectively.</p>
			</div>
			<div class="para3">
				<p>Features: Sign up, Login,</p>
				<p>Forgot Password, Products, Bug,</p>
				<p>Attachment, Bug life cycle flow</p>
				<p>Comments and tagging, Prepare Logs</p>
				<p>& Report, Email Notifications.</p>
			</div>
			<div class="land-button">
				<a type="button" class="btn btn-secondary-outline btn-round" id="login-button" href="/login/">LOGIN</a>
				<a type="button" class="btn btn-secondary-outline" id="register-button" href="/register/">REGISTER</a>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'bms_app/css/landing.css' %}">
{% endblock %}