{% extends "registration/common_login_reg.html" %}
{% block title %}Registration Form{% endblock %}
{% load static %}
{% block cssfile %}
<link rel="stylesheet" type="text/css" href="{% static 'bms_app/css/common_login_layout.css' %}">
{% endblock %}
{% block content %}
<div id="register-box" class="mainbox col-sm-4 col-sm-offset-4">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Looks like a username with that email already exists!</strong>
    </div>
    {% endif %}
    <div class="panel panel-primary" >
        <div class="panel-heading">
            <div class="panel-title">SIGN UP</div>
        </div> 

        <div class="panel-body">
            <form class="form-horizontal" action=" " method="POST" id="reg_form">
                {% csrf_token %}

                <div class="form-group">
                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="username" type="text" class="form-control" name="username" placeholder="Your username" required="required" autofocus="autofocus">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="email" type="email" class="form-control" name="email" placeholder="Your email" required="required">
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input class="form-control" id="userPw" type="password" placeholder="password" 
                        name="password" data-minLength="5"
                        data-error="some error"
                        required/>
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="help-block with-errors" id="errormsg"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input class="form-control {$borderColor}" id="userPw2" type="password" placeholder="Confirm password" 
                        name="confirmPassword" data-match="#confirmPassword" data-minLength="5"
                        data-match-error="some error 2"
                        required/>
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="help-block with-errors" id="errormsg"></span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-md btn-primary btn-block" id="regbtn" type="submit" onClick="$('/login')"> <strong>SIGN UP</strong> </button> 
                </div>

                <div class="form-group">
                    <div class="alreadymember">
                        Already a member ?
                        <a href="/login" onClick="$('/login')">
                            Login Here
                        </a>
                    </div>
                </div> 

            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block jsfile %}
<script type="text/javascript" src="{% static 'bms_app/js/style.js' %}"></script>
{% endblock%}